@import "../../scss/variables";
@import "../../scss/mixins";

.car-slider {
  width: 600px;
}

.car-slider__picture {
  position: relative;

  display: block;
  width: 600px;
  height: 375px;

  &--new-model::before {
    @include button;

    content: "New Model";
    position: absolute;
    top: 0;
    left: 0;

    width: 122px;
    min-height: 30px;
    padding: 5px;

    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: $font-light;
    letter-spacing: 0.07em;

    background-color: $accent;
  }
}

.car-slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
}

.car-slider__control {
  width: 52px;
  height: 52px;

  background: transparent;
  background-image: url("../../assets/img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 13px;
  border: 1px solid $border;
  border-radius: 50%;
  cursor: pointer;

  &--left {
    transform: rotate(180deg);
  }

  &:disabled {
    background-image: url("../../assets/img/arrow-disable.svg");
  }

  &:hover:not(:disabled) {
    background-color: $accent;
  }

  &:active:not(:disabled) {
    background-color: $additional-accent;
  }
}

.car-slider__images {
  display: flex;
  justify-content: space-between;
  width: 434px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.car-slider__preview-picture {
  display: block;
  width: 128px;
  height: 80px;
}
