@import "../../scss/variables";

.header {
  min-height: 84px;
  padding: 15px 0;

  background-color: $minor-bg;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-left: 7px;
}

.header__navigation {
  max-width: 80%;
  margin-top: 16px;
}
