.car-screen__top {
  display: flex;
}

.car-screen__info {
  order: 1;
  margin-top: 74px;
}

.car-screen__slider {
  margin-top: 90px;
  margin-right: 54px;
}

.car-screen__tabs {
  margin-top: 89px;
  margin-bottom: 140px;
  margin-left: 6px;
}
